#character-select {
  max-width: 1024px;
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2.25rem !important;
      letter-spacing: 0.25rem;
    }
    .characters {
      grid-template-columns: repeat(6, 1fr) !important;
      .character {
        grid-column: span 2 !important;
      }
    }
  }
  .characters {
    grid-template-columns: repeat(10, 1fr);
    counter-reset: grid;
    .character {
      grid-column: span 2;
      .avatar {
        width: 8rem;
        object-fit: contain;
      }
      .name {
        width: 8rem;
        height: 2.5rem;
        object-fit: contain;
      }

      &:hover, &:focus {
        cursor: pointer;
        background-color: var(--yellow);
      }

      &:last-child:nth-child(5n - 1) {
        grid-column-end: -2;
      }
      &:nth-last-child(-n + 4):nth-child(4n + 2) {
        grid-column-end: 4;
      }
    }
  }
  .bottom-section {
    .warning {
      text-shadow: 5px 5px 0px var(--red), 9px 8px 0px rgba(0,0,0,0.15);
    }
    .character-name {
      color: var(--yellow);
    }
  }
}