@keyframes rotateOpposite {
  50% {
    rotate: -10deg;
  }
}

#character-select {
  max-width: 1024px;
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2.25rem !important;
      letter-spacing: 0.25rem;
    }
    .characters {
      grid-template-columns: repeat(6, 1fr) !important;
      .character {
        grid-column: span 2 !important;
      }
    }
  }
  .characters {
    grid-template-columns: repeat(10, 1fr);
    counter-reset: grid;
    .character {
      grid-column: span 2;
      &.donggeon > .name, &.yeojeong > .name {
        scale: 1.2;
      }
      &.jisu > .name, &.jyou > .name, &.kyungho > .name {
        scale: 1.1;
      }
      &.jaeyun > .name {
        scale: 1.3;
      }
      .avatar {
        width: 8rem;
        object-fit: scale-down;
        animation: rotateOpposite 1.2s infinite;
      }
      .name {
        width: 8rem;
        height: 2rem;
        object-fit: scale-down;
        animation: rotateOpposite 1.2s infinite;
      }

      &:hover, &.selected {
        cursor: pointer;
        background-color: var(--yellow);
        transition: all 0.3s ease;
        
        .avatar, .name {
          animation-play-state: paused;
        }
      }

      &:last-child:nth-child(5n - 1) {
        grid-column-end: -2;
      }
      &:nth-last-child(-n + 4):nth-child(4n + 2) {
        grid-column-end: 4;
      }
    }
  }
  .bottom-section {
    .warning {
      text-shadow: 5px 5px 0px var(--red), 9px 8px 0px rgba(0,0,0,0.15);
    }
    .character-name {
      color: var(--yellow);
    }
  }
}